@import "tailwindcss";

/* Smooth Scroll */

html {
  scroll-behavior: smooth;
}

/* Prevent Horizontal Scroll */

body {
  overflow-x: hidden;
  background-color: #f8fafc;
  transition: background-color 0.35s ease;
}

.dark body {
  background-color: #020617;
}

/* ===== Premium Golden Scrollbar ===== */

::-webkit-scrollbar {
  width: 12px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #020617;
}

/* Thumb */

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ffd700, #ffbf00, #ffa500, #ffd700);

  background-size: 100% 300%;

  border-radius: 20px;

  animation: goldScroll 4s linear infinite;

  border: 2px solid #020617;
}

/* Hover */

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #fff4b0, #ffd700, #ffcc00);

  transform: scale(1.05);
}

/* Animation */

@keyframes goldScroll {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

/* Firefox Support */

html {
  scrollbar-width: thin;

  scrollbar-color: #ffd700 #020617;
}
